*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    background: #E55473;
    border-style: none;
    padding: 18px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    transition: 0.3s;
    z-index: 1;
    border-radius: 5px;
}
.btn::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
    z-index: -1;
}
.btn:hover::after{
    transform: translate(-50%, -50%) scale(1);
}
.btn:hover{
    color: #E55473;
    border: 2px solid #E55473;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.sec_title{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.sec_title h3{
    font-size: 30px;
    font-weight: 900;
    color: #272727;
    margin: 20px 0;
}
.sec_title p{
    font-size: 14px;
    color: #272727;
}
/* Header part css */

header{
    background: #e5547310;
}

/* Nav part css start */
nav{
    padding: 30px 0;
}
.logo h1 span{
    color: #E55473;
}
.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    margin-left: 15px;
}
.menu_item{
    padding: 10px 15px;
    background: transparent;
    color: #272727;
    overflow: hidden;
}
.menu_item:hover::after{
    transform: translate(-50%, -50%) scale(0);
}

/* banner part css start */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}
.banner_article{
    width: 40%;
}
.banner_article h2{
    font-size: 40px;
    font-weight: 900;
    color: #272727;
}
.banner_article p{
    font-size: 18px;
    margin: 20px 0;
    color: #272727;
}
.banner_img{
    width: 50%;
    text-align: center;
}
.banner_img img{
    width: 70%;
    margin-bottom: -4px;
}

/* Featured CSS start */
.feature{
    padding: 60px 0;
}
.featured_img_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.featured_img{
    display: flex;
    align-items: flex-end;
    padding: 30px 60px 0 60px;
    border-radius: 50% 50% 0 0;
    position: relative;
    overflow: hidden;
}
.featured_img img{
    width: 220px;
}
.featured_img_1{
    background: #A721621e;
}
.featured_img_3{
    background: #477D111e;
}
.featured_img_2{
    align-items: center;
    background: #0598a01e;
}
.image_caption{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    opacity: 0;
    transition: 0.5s;
}
.featured_img:hover .image_caption{
    opacity: 1;
}
.image_caption p a{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.image_caption p a::before{
    background: #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.5s;
    border: 1px solid transparent;
}
.image_caption p a:hover::before{
    border: 1px solid white;
}
.image_caption p a:hover{
    color: white;
}
.image_caption_1{
    background: #A721627e;
}
.image_caption_1  p a:hover::before{
    background: #A72162;
}
.image_caption_2{
    background: #0598a07e;
}
.image_caption_2  p a:hover::before{
    background: #0598a0;
}
.image_caption_3{
    background: #477D117e;
}
.image_caption_3  p a:hover::before{
    background: #477D11;
}

/* Service part Css start */
.service{
    background: #27272708;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.service_box{
    text-align: center;
}

/* Sale Part CSS Start */
.sale_section{
    background: #e5547317;
    padding: 50px 0;
}
.sale_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sale_post{
    width: 50%;
    text-align: center;
}
.sale_post h2 span{
    color: #E55473;
    font-weight: 800;
}
.sale_post p{
    padding: 30px;
    line-height: 25px;
}
.sale_img{
    text-align: center;
    width: 50%;
}

/* Instagram part CSS start */
.instagram{
    padding: 60px 0;
}
.insta_pic_box{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
}
.insta_pic_box img{
    width: 250px;
}

/* leatest Part CSS Start */

.leatest_container{
    background: url("../images/Rectangle\ 9.png") no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.mail_input{
    border-style: none;
    font-size: 18px;
    width: 30%;
    padding: 18px 25px;
    border-radius: 5px;
    margin-right: 10px;
}
.mail_form{
    text-align: center;
    padding: 30px 0 0 0;
}


/* payment part css start */
.payment_section{
    padding: 100px 0;
}
.payment_box{
    padding: 0 35px;
    width: 33%;
}
.main_payment{
    display: flex;
    justify-content: space-between;
}
.payment_btn{
    margin-top: 50px;
}
.payment_infor{
    padding: 50px 20px;
    background-color: #f7f0e6;
    border-radius: 0 0 15px 15px
}
.payment_infor_mid{
    padding: 58px 20px;
}
.payment_title{
    padding: 20px 0;
    background-color: #E55473;
    border-bottom: 8px solid #fff;
    text-align: center;
    border-radius: 15px 15px 0 0;
}
.payment_title h3{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    color: white;
}
.payment_infor p{
    font-size: 18px;
    font-weight: 400;
}
.payment_infor ol li{
    list-style: disc;
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
    line-height: 30px;
}
.paymen_infor_span{
    color: #e11a27;
    font-weight: 600;
}
.payment_btn{
    text-align: center
}


/* footer part css start */

.footer_section{
    background: #1a1a1a;
    padding: 100px 0;
}
.footer_title h3, .footer_title p{
    color: white;
}
.footer_title h3 span{
    color: #E55473;
}
.footer_title p{
    padding-bottom: 30px;
}
.footer_title small{
    color: rgba(255, 255, 255, 0.233);
}