*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    background: #E55473;
    border-style: none;
    padding: 20px 45px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    transition: 0.3s;
}
.btn::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), scale(0);
    width: 200%;
    height: 200%;
    background: #fff;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s;
}
.btn:hover::after{
    transform: scale(1);
}
.btn:hover{
    color: #E55473;
    background-color: transparent;
    border: 2px solid #E55473;
    cursor: pointer;
}
/* Header part css */

header{
    background: #e5547310;
    padding: 100px 0 0 0;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_article{
    width: 40%;
    font-family: 'Lato', sans-serif;
}
.banner_article h2{
    font-size: 40px;
    font-weight: 900;
}
.banner_article p{
    font-size: 18px;
    margin: 20px 0;
}
.banner_img{
    width: 50%;
    text-align: center;
}
.banner_img img{
    width: 70%;
    margin-bottom: -4px;
}