*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    background: #E55473;
    border-style: none;
    padding: 20px 45px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    transition: 0.3s;
    z-index: 1;
}
.btn::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
    z-index: -1;
}
.btn:hover::after{
    transform: translate(-50%, -50%) scale(1);
}
.btn:hover{
    color: #E55473;
    border: 2px solid #E55473;
    cursor: pointer;
}
/* Header part css */

header{
    background: #e5547310;
    padding: 100px 0 0 0;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_article{
    width: 40%;
}
.banner_article h2{
    font-size: 40px;
    font-weight: 900;
    color: #272727;
}
.banner_article p{
    font-size: 18px;
    margin: 20px 0;
    color: #272727;
}
.banner_img{
    width: 50%;
    text-align: center;
}
.banner_img img{
    width: 70%;
    margin-bottom: -4px;
}

/* Featured CSS start */
.feature{
    padding: 60px 0;
}
.feature_title{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.feature_title h3{
    font-size: 30px;
    font-weight: 900;
    color: #272727;
    margin: 20px 0;
}
.feature_title p{
    font-size: 14px;
    color: #272727;
}
.featured_img_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.featured_img{
    display: flex;
    align-items: flex-end;
    padding: 30px 60px 0 60px;
    border-radius: 50% 50% 0 0;
}
.featured_img img{
    width: 220px;
}
.featured_img_1{
    background: #A721621e;
}
.featured_img_3{
    background: #477D111e;
}
.featured_img_2{
    align-items: center;
    background: #0598a01e;
}